@model OAuthTwitterWrapper.JsonTypes.Search

@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/shared/_layout.cshtml";
}

<h2>Deserialized Timeline</h2>
<em>use twitter-text-cs (or similar) for formatting</em>

<hr />

@foreach (var t in Model.Results)
{
    <h5>@t.Text</h5>
    <small>@@<a href="@t.User.Url" rel="nofollow" target="_blank">@t.User.ScreenName</a>
        @t.CreatedAt
    </small>
    if (t.entities.Media != null && t.entities.Media.Any())
    {
        <img src="@t.entities.Media[0].media_url" width="@t.entities.Media[0].sizes.thumb.w" height="@t.entities.Media[0].sizes.thumb.h" />
    }
    <hr />
}