@model List<OAuthTwitterWrapper.JsonTypes.TimeLine>

@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/shared/_layout.cshtml";
}

<h2>Deserialized Timeline</h2>
<em>use twitter-text-cs (or similar) for formatting</em>

<hr />

@foreach (var t in Model)
{
    <h5>@t.Text</h5>
    <small>@@<a href="@t.User.Url" rel="nofollow" target="_blank">@t.User.ScreenName</a>
        @t.CreatedAt
    </small>
    if (t.Entities.Media != null && t.Entities.Media.Any())
    {
        <img src="@t.Entities.Media[0].media_url" width="@t.Entities.Media[0].sizes.thumb.w" height="@t.Entities.Media[0].sizes.thumb.h" />
    }
    <hr />
}